#navigation {
    background: rgb(51, 128, 182);
    color: white;
    height: 40px;
}


#reportview-start-years {
    height:500px;
}
#reportview-start-years .reportview {
    height: 465px;
}

#reportview-owner-operator {
    height:500px;
}
#reportview-owner-operator .reportview {
    height: 465px;
}

#reportview-top-countries {
    height:500px;
}
#reportview-top-countries .reportview {
    height: 465px;
}

#reportview-top-models {
    height:500px;
}
#reportview-top-models .reportview {
    height: 465px;
}

#reportview-top-operators {
    height:500px;
}
#reportview-top-operators .reportview {
    height: 465px;
}


#reportview-country-start-years {
    height:300px;
}
#reportview-country-start-years .reportview {
    height: 370px;
}


#reportview-operator-start-years {
    height:300px;
}
#reportview-operator-start-years .reportview {
    height: 370px;
}